NULL értékek száma és aránya az oszlopokban

In [ ]:
SELECT 
    COUNT(*) AS osszes_sor,
    SUM(CASE WHEN KAT_ID IS NULL THEN 1 ELSE 0 END) AS kat_id_null_db,
    ROUND(100 * SUM(CASE WHEN KAT_ID IS NULL THEN 1 ELSE 0 END) / COUNT(*), 2) AS kat_id_null_szazalek,
    SUM(CASE WHEN LEIRAS IS NULL THEN 1 ELSE 0 END) AS leiras_null_db,
    ROUND(100 * SUM(CASE WHEN LEIRAS IS NULL THEN 1 ELSE 0 END) / COUNT(*), 2) AS leiras_null_szazalek
FROM TERMEK;

Legkisebb, legnagyobb és átlagos értékek egy numerikus oszlopra (LISTAAR)

In [ ]:
SELECT 
    MIN(LISTAAR) AS legkisebb_ertek,
    MAX(LISTAAR) AS legnagyobb_ertek,
    AVG(LISTAAR) AS atlagos_ertek
FROM TERMEK;

Értékek eloszlása egy kategóriás oszlopban (MEGNEVEZES)

In [ ]:
SELECT MEGNEVEZES, COUNT(*) AS darabszam
FROM TERMEK
GROUP BY MEGNEVEZES
ORDER BY darabszam DESC;